NODE_ENV = production
APP_HOST = localhost
APP_PORT = 4000

DATABASE_URL=postgresql://psqlAdmin:psqlPass@fit-friends.postgres:6500/fit-friends?schema=public

POSTGRES_ROOT_USERNAME = psqlAdmin
POSTGRES_ROOT_PASSWORD = psqlPass
POSTGRES_DB_NAME = fit-friends
POSTGRES_DB_HOST = fit-friends.postgres
POSTGRES_DB_PORT = 6500

PGADMIN_DB_PORT = 8082


JW_AT_SECRET = accessSecret
JW_AT_EXPIRES_IN = 15m

JW_RT_SECRET = refreshSecret
JW_RT_EXPIRES_IN = 7d

UPLOAD_ROOT_DIRECTORY = 'apps/fit-friends/src/static/uploads'
SERVE_ROOT = '/static'

MAIL_SMTP_HOST = fit-friends.smtp.maildev
MAIL_SMTP_PORT = 2025
MAIL_UI_PORT = 2080
MAIL_USERNAME = user
MAIL_PASSWORD = pass
MAIL_FROM = 'noreply@fit-friends.local'

BROADCAST_INTERVAL = '* 0 0 * * *'

