# NODE_ENV = production

NODE_ENV = development
APP_HOST = localhost
APP_PORT = 4000


POSTGRES_ROOT_USERNAME = psqlAdmin
POSTGRES_ROOT_PASSWORD = psqlPass
POSTGRES_DB_NAME = fit-friends
POSTGRES_DB_HOST = localhost
POSTGRES_DB_PORT = 6500

PGADMIN_DB_PORT = 8082


RABBIT_USERNAME = rabbitAdmin
RABBIT_PASSWORD = rabbitPass
RABBIT_HOST = localhost
RABBIT_PORT = 8672

JW_AT_SECRET = accessSecret
JW_AT_EXPIRES_IN = 15m

JW_RT_SECRET = refreshSecret
JW_RT_EXPIRES_IN = 7d

UPLOAD_ROOT_DIRECTORY = 'apps/fit-friends/src/static/uploads'
SERVE_ROOT = '/static'