# NODE_ENV = production

NODE_ENV = development
APP_HOST = localhost
APP_PORT = 4000


POSTGRES_ROOT_USERNAME = psqlAdmin
POSTGRES_ROOT_PASSWORD = psqlPass
POSTGRES_DB_NAME = fit-friends
POSTGRES_DB_HOST = localhost
POSTGRES_DB_PORT = 6500

PGADMIN_DB_PORT = 8082


RABBIT_USERNAME = rabbitAdmin
RABBIT_PASSWORD = rabbitPass
RABBIT_HOST = localhost
RABBIT_PORT = 8672

